@import "var.css";

textarea {
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;

  border-radius: 5px;
  width: 100vw;
}

.block {
  background-color: rgba(var(--light-v2), 0.9);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.block-header {
  background-color: rgb(var(--light-v1));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.block-title {
  background-color: transparent;
  color: rgb(var(--dark));
  font-size: 1.5rem;
  font-weight: bold;
  height: 48px;
  padding: 5px 0 3px 5px;
}

.block-delete {
  color: rgb(var(--dark));
  cursor: pointer;
  transition: all 300ms;
}

.block-delete:hover {
  color: rgb(var(--light-dark-hover));
}

.block-content {
  margin: 10px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.todo-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.todo-text {
  color: rgb(var(--semi-white));
  background-color: rgba(var(--dark), 0.4);
}

.todo-delete {
  margin-left: 10px;
  color: rgb(var(--dark));
  cursor: pointer;
  transition: all 300ms;
}

.todo-delete:hover {
  color: rgb(var(--light-dark-hover));
}

.todo-check {
  appearance: none;
  background-color: rgba(var(--dark), 0.4);
  width: 27px;
  height: 20px;
  position: relative;
  margin-right: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
}

.todo-check::before {
  content: "";
  margin-bottom: 5px;
  width: 25%;
  height: 50%;
  border-right: 3px solid rgb(var(--dark));
  border-bottom: 3px solid rgb(var(--dark));
  transform: rotate(45deg);
  opacity: 0;
}

.todo-check:checked::before {
  opacity: 1;
}

.todo-check:hover {
  background-color: rgba(var(--dark), 0.6);
}

.new-todo {
  color: rgb(var(--semi-white));
  background-color: rgb(var(--light-dark));
  align-self: center;
  margin-bottom: 10px;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 500ms;
}

.new-todo:hover {
  background-color: rgb(var(--light-dark-hover));
}

.new-todo:active {
  transform: scale(0.9);
}
